body{
    /*text-align: center;*/
    font-family: 'Times New Roman' , Times, serif;
    background-color:  antiquewhite;
}


.heading{
    padding: 50px 100px 10px 450px;
    margin-left: 200px;
}

.h1class{
    padding: 10px 10px 10px 575px;
}

.forming1{
    padding: 50px 100px 50px 450px;
    margin-left: 200px;
}

table{
    margin: 300px;
    color:black;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
.align{
    width: 50%;
    margin: auto;
}